.dashboard_header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: $md;
  height: $profile-banner-height;
  background-color: $light-mint;
  align-items: center;
  border-radius: $rad;
}

.dashboard_header-text {
  margin-left: 60px;
}

.dashboard-header-image {
  margin: 0 auto;
  width: 100%;
}

.dashboard-body-layout {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: $lg;
}

.tab-organisation-box {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: $lg;
}

#dash-tab-review.active {
  // background-color: $light-mint !important;
  background-color: $mint !important;
  color: white !important;
  border-radius: $rad !important;
}

#dash-tab-review {
  // background-color: $light-mint !important;
  // width: 200px;
}

.dashboard-info-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: $lg;
  margin-top: 20px;
}

.dashboard-received {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: $md;
}

.dashboard-given {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  grid-gap: $md;
  height: $profile-banner-height-text;
  background-color: white;
  align-items: center;
  border-radius: $rad;
    a {
      text-decoration: none !important;
      color: $mint;
        &:hover {
          color: $medium-gray !important;
        }
      }
  }

.dashboard-profile-summary {
  margin: 0 auto 0;
  padding: $lg;
  text-align: center;
  width: 100%;
  height: fit-content;
  border-radius: 3px;
  border: solid 1px $mint;
  a {
        &:hover {
          color: $mint !important;
        }
      }
}

.info-section {
  height: 100%;
}

.gridded{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: $xs;
}

.dashboard-profile-summary-data {
  text-align: left;
  margin-top: $lg;
  margin-bottom: $xl;
}

.vertical-buttons-center {
  .btn-mint {
    width: 88px;
  }
}

.hide {
  display: none;
}

#edit-profile, #edit-clinic {
  text-align: left;
}

#personalized {
  background: rgba(255, 255, 255, 0)
}
