// Specific CSS for your home-page
.landing-container {
  background-image: asset-url("picture-homepage.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 95vh;
  margin-bottom: 0;
}

#info-intro {
  font-size: 3em;
  padding: 80px 0 40px 0;
}

#search-area {
  //display: flex;
  //justify-content: space-between;
  width: 100%;
  height: 100%;
}

#landing-search {
  width: 60%;
  min-width: 675px;
}

#landing-image img{
  width: 800px;
}

// Why DocRef Section

#container-two {
  width: 100vw;
  margin: 0 auto auto auto;
  padding: 100px 200px 20px 200px;
  background-color: rgba(230, 230, 230, 0.3);
}

#why-docref {
  text-align: center;
}

.mission-card {
  height: 550px;
  width: 300px;
  // border: solid black 1px;
  padding: 30px;
  margin: 50px 20px 0 20px;
  text-align: center;
}

.mission-icon {
  padding: 10px 60px;
}

.mission-card-title {
  font-weight: bold;
  padding-bottom: $lg;
  white-space: nowrap;
}

.mission-selling-point {
  margin-top: 20px;
}

