// Specific CSS for your home-page
#info-search {

}

#info-intro {
  font-size: 3em;
  padding: 40px 0;
}

#search-image {
  display: flex;
}

#landing-search {
  width: 40%;
}

#landing-image img{
  width: 600px;
}

#info-user {

}

#infor-footer {

}
