// Profile Navigation Buttons above Banner
.profile {

  .two-field-search-container {
    margin: $md 0 0 0;
  }
  .card-approval:first-child {
    margin-top: $md;
  }

  .btn-mint {
    width: 104px;
    text-align: center;

  }
}
.profile-nav-btn-section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 16px;
  align-items: center;
  margin-bottom: $md;
}

.nav-arrows {
}

// Profile Banner Section

.profile-banner {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 16px;
  height: $profile-banner-height;
  background-color: $light-mint;
  align-items: center;
  border-radius: $rad;
}

.doctor-titles {
  margin-right: 0;
}

// Profile Tabs Section

.doctor-tabs-row {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 32px;
  height: auto;
}

#profile-nav-btn {
  padding: 2px 16px;
}

// Profile Content Section (Contact, About Me etc)

.doctor-content-row {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 16px;
  height: auto;
}

.contact-list {
  list-style: none;
  padding: $lg;
  margin-bottom: 0;
  color: $light-gray;
  text-align: right;
}

#myspecialisation li {
  line-height: 1;
}

.consultation-times {
  margin-bottom: $lg;
}

// Profile Recommendation Section

.approval-section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 16px;
  margin-top: $lg;
}

.approvals-filters {
  position: sticky;
  border-radius: $rad;
}

#search-approvals {
  margin: 0;
  padding: 0;
  align-items: flex-start;
  height: auto;
}

.approval-search-btn {
  margin: 0;
  align-items: flex-start;
}

.gray-line {
  border-bottom: solid $mint 1px;
  width: 160px;
  margin-bottom: 12px;
}

.info {
  color: $light-gray;
  align-items: center;
}

// NEW CSS to refactor into ONE grid

// .profile-grid {
//   display: grid;
//   grid-template-columns: 1fr 3fr;
//   grid-gap: 16px;
//   grid-template-rows:
// }

