<div class="dashboard_header">
<div class="dashboard_header-text">
<h2 >Hello <%= current_user.title %> <%= current_user.first_name %> <%= current_user.last_name %></h2>
</div>
<div>
<%= cl_image_tag(current_user.clinic.clinic_picture, height: 300, width: 300, crop: :fill, id: "profile-pic", class: "avatar-square-hospital") %>
</div>
</div>
