<div style="    height: 160px; line-height: 142px; background: #E3F5F4; font-size: 40px; padding: 10px 40px; margin-bottom: 16px;">
Hello <%= @user.title %> <%= @user.first_name %> <%= @user.last_name %>
</div>
