<div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link profile-tab active" href="#given" role="tab" data-toggle="tab">Given Recommendations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link profile-tab" href="#received" role="tab" data-toggle="tab">Received Recommendations</a>
    </li>
  </ul>
  <div class="tab-content">
    <div role='tabpanel' class= "tab-pane active fade show" id="given">
      <%= render 'users/dashboard/dashboard_given_reviews' %>
    </div>
    <div role='tabpanel' class= "tab-pane fade" id="received">
      <%= render 'users/profile_page/approval_card/approval_card' %>
    </div>
  </div>
</div>
