<div class="dashboard-profile-summary">
  <% global_count = 0 %>
  <% field_count = 0 %>

  <h4>Recommendations by fields</h4>
  <div class="dashboard-profile-summary" style="border: none; padding-bottom: 0;">
    <% Field.all.each do |field| %>
    <% global_count += Approval.joins(:fields).where(receiver: current_user).where(fields: {id: field} ).count %>
    <% end %>
    Total received recommendations: <%= global_count %>
  </div>

  <div class="dashboard-profile-summary" style="border: none; padding-bottom: 0;">
    <h5>Recommendations by fields</h5>

    <% Field.all.each do |field| %>
    <% field_count = Approval.joins(:fields).where(receiver: current_user).where(fields: {id: field} ).count %>
    <% if field_count != 0 %>
    <div class= "d-flex align-items-center" style="height: 35px;">
      <%= field.name.capitalize %>: <%= field_count %>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
