<div>
<%= render 'users/dashboard/dashboard_reviews_received_quota' %>
</div>

<div>
  <% @approvals = Approval.all.select { |approval| approval.receiver_id == current_user.id } %>
  <%= render 'users/profile_page/profile_approvalcards_list' %>
</div>
