<div class="doctor-tabs-row">
  <div>
    <p><strong><%= @doctor.clinic.name %></strong></p>
  </div>
  <div>
    <ul class="doctor-tabs">
      <li>About Me</li>
      <li>My specialisation</li>
      <li>Our hospital</li>
      <li>Consultation hours</li>
    </ul>
  </div>
</div>
