<div class="doctor-content-row">
  <ul class="contact-list">
    <li><%= @doctor.clinic.phone_number%></li>
    <li><%= @doctor.clinic.email%></li>
    <li><%= @doctor.clinic.website%></li>
  </ul>
</div>
