<div class="approval-section">
  <div class="approvals-filters">

    <ul class="contact-list">
      <li>
        <h5>Filters
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill= "rgb(111, 188, 180)" viewBox="0 0 48 48">
            <g class="nc-icon-wrapper" fill="$mint">
              <path d="M14.83 30.83L24 21.66l9.17 9.17L36 28 24 16 12 28z"/>
            </g>
          </svg>
        </h5>
      </li>
      <li>
      <li>
        <div class="gray-line"></div>
      </li>
        <h5>Sort by
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill= "rgb(111, 188, 180)" viewBox="0 0 48 48">
            <g class="nc-icon-wrapper" fill="$mint">
              <path d="M14.83 30.83L24 21.66l9.17 9.17L36 28 24 16 12 28z"/>
            </g>
          </svg>
        </h5>
      </li>


    </ul>

  </div>
  <div>
    <%= render 'users/profile_approvalcards_list' %>
  </div>
</div>
