<div class="page-container">
  <%= render 'users/dashboard/dashboard_header' %>
  <div class="dashboard-body-layout">
    <%= render 'users/dashboard/dashboard_profile_summary' %>
    <%= render 'users/dashboard/dashboard_reviews' %>
  </div>
</div>
