<div class="page-container">
  <div class="search-map-container">
    <div>
      <%= render 'users/filter_bar' %>
      <%= render 'users/doctor_card' %>
    </div>
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
</div>
