<div class="page-container">
  <div class="search-map-container">
    <div>
      <%= render 'shared/search_bar' %>
      <% if @doctors_results.empty? %>
        <p><strong>No doctors found.</strong></p>
      <% else %>
        <%= render partial: 'users/doctor_card', collection: @doctors_results, as: :doctor %>
      <% end %>
    </div>
    <div
      id="map"
      style="width: 100%;
      height: 80vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
</div>
