<div class="profile-banner-container">

</div>
<div class="page-container">
  <div class="profile-banner">
    <div class="profile-pic">
      asd
    </div>

  </div>
</div>







<%= render 'shared/temp' %>
