<div class="page-container">

  <h3>Hello <%= current_user.title %> <%= current_user.first_name %> <%= current_user.last_name %></h3>

  <div class="border-bottom" style="height: 35px">
    <ul style="list-style-type: none;
    margin: 0;
    padding: 0;">
    <li style="float: left;"><a href="#" style="display: block;
    text-align: center;
    padding: 10px 16px;
    background-color: rgb(128, 196, 189);
    color: rgb(219, 238, 237);
    text-decoration: none;">Recent Activity</a></li>
    <li style="float: left;"><a href="#" style="display: block;
    text-align: center;
    padding: 10px 16px;
    background-color: rgb(219, 238, 237);
    color: rgb(128, 196, 189);
    text-decoration: none;">Your Recommendations</a></li>
    </ul>
  </div>
<% raise %>
  <h6>Your latest recommendations by other doctors.</h5>
</div>
