<div class="page-container">
  <%= render 'users/profile-nav-btn-section' %>
  <%= render 'users/profile_banner' %>
  <%= render 'users/profile_tabs' %>
  <%= render 'users/profile_approval_section' %>
</div>
