<div class="two-field-search-container">
  <input class="input-field" type="text" placeholder="Cardiologist">
  <input class="input-field" type="text" placeholder="Berlin">
  <a class= "btn-mint" href="#">Search</a>
</div>
