<div class="page-container">
  <h1>Headline</h1>
  <h3>Page Title</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil provident officiis harum magni corrupti debitis error, assumenda, neque cum obcaecati laborum expedita quibusdam quod itaque possimus nesciunt vitae aliquam! Similique.</p>
  <p class="">Lorem ipsum dolor sit amet, <span class="highlighted">consectetur adipisicing elit.</span> Nihil provident officiis harum magni corrupti debitis error, assumenda, neque cum obcaecati laborum expedita quibusdam quod itaque possimus nesciunt vitae aliquam! Similique.</p>
  <p class="light-blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil provident officiis harum magni corrupti debitis error, assumenda, neque cum obcaecati laborum expedita quibusdam quod itaque possimus nesciunt vitae aliquam! Similique.</p>
  <div class="text-card-mint">
    <h4>Lorem ipsum</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate nihil sit neque praesentium inventore quae recusandae alias, incidunt tempore, quas iste voluptatum facere tempora totam dolores modi. Nulla laborum, vel.</p>
  </div>
  <div class="text-card-purple">
    <h4>Lorem ipsum</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate nihil sit neque praesentium inventore quae recusandae alias, incidunt tempore, quas iste voluptatum facere tempora totam dolores modi. Nulla laborum, vel.</p>
  </div>
  <div class="text-card-outline-mint">
    <h4>Lorem ipsum</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate nihil sit neque praesentium inventore quae recusandae alias, incidunt tempore, quas iste voluptatum facere tempora totam dolores modi. Nulla laborum, vel.</p>
  </div>
  <div class="text-card-outline-purple">
    <h4>Lorem ipsum</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate nihil sit neque praesentium inventore quae recusandae alias, incidunt tempore, quas iste voluptatum facere tempora totam dolores modi. Nulla laborum, vel.</p>
  </div>

  <div class="card-doc">
    <div>
      <h4>Dr. Tobias Teich</h4>
      <div>Berlin</div>
      <div>Cardiologist</div>
      <div>Referred by <strong>2</strong> doctors</div>
    </div>
    <%= image_tag "profile.png", alt: "profile_picture", class:"avatar-square" %>
    <p class="desc-doc">"Lorem ipsum dolor sit amet, consectetur adipisicing elit."</p>
    <a class= "btn-outline" href="#">Profile</a>
  </div>

  <div class="card-doc">
    <div>
      <h4>Dr. Tobias Teich</h4>
      <div>Berlin</div>
      <div>Cardiologist</div>
      <div>Referred by <strong>2</strong> doctors</div>
    </div>
    <%= image_tag "profile.png", alt: "profile_picture", class:"avatar-square" %>
    <div></div>
    <a class= "btn-outline" href="#">Profile</a>
  </div>

  <div class="card-approval">
    <div class="approval-header">
      <h4>Super doc</h4>
      <div>25. November 2019</div>
    </div>
    <div class="tag-container">
      <div class="tag">heart disease</div>
      <div class="tag">high blood pressure</div>
      <div class="tag-outline">another condition</div>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate nihil sit neque praesentium inventore quae recusandae alias, incidunt tempore, quas iste voluptatum facere tempora totam dolores modi. Nulla laborum, vel.</p>
  </div>

  <div class="card-approval">
    <div class="approval-header">
      <h4>Super doc</h4>
      <div>25. November 2019</div>
    </div>
    <div class="tag-container">
      <div class="tag">heart disease</div>
      <div class="tag">high blood pressure</div>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate nihil sit neque praesentium inventore quae recusandae alias, incidunt tempore, quas iste voluptatum facere tempora totam dolores modi. Nulla laborum, vel. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eos ea, beatae ipsam est velit. Doloremque possimus dicta nisi, accusamus officia modi non sequi aperiam, nostrum architecto blanditiis cum vero.</p>
  </div>

  <div class="card-approval-mint">
    <div class="approval-header">
      <h4>Super doc</h4>
      <div>25. November 2019</div>
    </div>
    <div class="tag-container">
      <div class="tag">heart disease</div>
      <div class="tag">high blood pressure</div>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate nihil sit neque praesentium inventore quae recusandae alias, incidunt tempore, quas iste voluptatum facere tempora totam dolores modi. Nulla laborum, vel. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eos ea, beatae ipsam est velit. Doloremque possimus dicta nisi, accusamus officia modi non sequi aperiam, nostrum architecto blanditiis cum vero.</p>
  </div>


  <div class="btn-container">
    <a class= "btn-mint" href="#">Click Me</a>
    <a class= "btn-outline" href="#">Click Me</a>
  </div>
  <div class="btn-container">
    <a class= "btn-purple" href="#">Click Me</a>
    <a class= "btn-light-purple" href="#">Click Me</a>
    <a class= "btn-outline-purple" href="#">Click Me</a>
  </div>

  <div class="search-container">
    <input class="input-field" type="text">
    <a class= "btn-mint" href="#">Search</a>
  </div>
  <div class="two-search-container">
    <input class="input-field" type="text" placeholder="Cardiologist">
    <input class="input-field" type="text" placeholder="Berlin">
    <a class= "btn-mint" href="#">Search</a>
  </div>

  <form action="#" class="form-recommendation">
    <p><strong>Recommend doctor XY</strong></p>
        <!-- <div>
        <label for="speciality"><strong>Select the speciality</strong></label>
      </div> -->
      <select name="" id="speciality" class="select-speciality">
        <option value="Cardiologist">Cardiologist</option>
        <option value="Dentist">Dentist</option>
      </select>
      <p><strong>Select the conditions doctor xy is especially good in</strong></p>
      <div class="checkbox-container">
        <div>
          <input type="checkbox" name="conditon" id="c1" value="c1">
          <label for="c1">Condition 1</label>
        </div>
        <div>
          <input type="checkbox" name="conditon" id="c2" value="c1">
          <label for="c2">Condition 2</label>
        </div>
        <div>
          <input type="checkbox" name="conditon" id="c3" value="c1">
          <label for="c3">Condition 3</label>
        </div>
        <div>
          <input type="checkbox" name="conditon" id="c4" value="c1">
          <label for="c4">Condition 4</label>
        </div>
        <div>
          <input type="checkbox" name="conditon" id="c5" value="c1">
          <label for="c5">Condition 5</label>
        </div>
        <div>
          <input type="checkbox" name="conditon" id="c6" value="c1">
          <label for="c6">Condition 6</label>
        </div>
      </div>
      <input id="headline"type="text" placeholder="Title of recommendation" class="input-headline">
      <div>
        <textarea placeholder="Why do you recommend the doctor?"></textarea>
      </div>
      <div>
        <button type="submit" class="btn-mint">Submit</button>
      </div>
    </form>
  </div>
