<div id="search-results">
  <% if @approvals.empty? %>
    <br>
    <p>No recommendations found.</p>
  <% else %>
    <div class="card-container">
      <% @approvals.each do |approval| %>
        <%= render partial: 'users/profile_page/approval_card/approval_card', locals: { approval: approval} %>
      <% end %>
    </div>
  <% end %>
</div>
