.avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.avatar-medium {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-large {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 0px;
}

.avatar-square-sm {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 0px;
}

// Doctor Profile Page:

.avatar-square-profile {
  width: $profile-banner-height;
  height: $profile-banner-height;
  object-fit: cover;
  border-radius: $rad;
}

.avatar-square-hospital {
  width: 290px;
  height: $profile-banner-height;
  object-fit: cover;
  border-radius: $rad;
  text-align: right;
}

.hospital-pic {
  width: 100%;
  height: 300px;
  object-fit: cover;
  padding-top: $lg;
}

.hospital-pic-square-banner {
  width: 160px;
  height: 160px;
  object-fit: cover;
  padding-left: $lg;
  border-radius: $rad;
}
