.text-card-mint {
  padding: $lg;
  margin: $md 0;
  background-color: $light-mint;
  border-radius: $rad;
}
.text-card-purple {
  padding: $lg;
  margin: $md 0;
  background-color: $light-purple;
  border-radius: $rad;
  color: white;
}

.text-card-outline-mint {
  padding: $lg;
  margin: $md 0;
  border-radius: $rad;
  border: 1px solid $mint;
  color: $mint;
}

.text-card-outline-purple {
  padding: $lg;
  margin: $md 0;
  border-radius: $rad;
  border: 1px solid $purple;
  color: $purple;
}

// Recommendation card

.card-approval {
  padding: $lg;
  padding-bottom: $sm;
  margin: 0 0 $lg 0;
  border-radius: $rad;
  border: 1px solid $mint;
  color: $dark-gray;
}

.card-approval-mint {
  background-color: $light-mint;
  padding: $lg;
  margin: $lg 0;
  border-radius: $rad;
  color: $dark-gray;
}

.tag {
  background-color: $mint;
  color: white;
  margin-right: $sm;
  padding: $xs $md;
  border-radius: $lg;
}

.tag-outline {
  background-color: white;
  color: $mint;
  margin: $sm;
  margin-left: 0;
  padding: $xs $md;
  border-radius: $lg;
  border: 1px solid $mint;
  text-align: center;
  min-width: 180px;
}

.approval-header {
  display: flex;
  justify-content: space-between;
  height: 32px;
}

.approval-footer {
  text-align: right;
  color: $light-gray;
  margin-bottom: 0;
}

.card-approval-date {
  color: $light-gray;
}

/*Doctor card for search results in index action*/

.card-doc {
  border-radius: $rad;
  background-color: $light-mint;
  display: grid;
  grid-template-columns: 3fr 100px;
  grid-column-gap: $xl;
  grid-row-gap: $xs;
  padding: $md;
  margin: $lg 0;
  width: 100%;
  justify-content: space-between;
  align-items: start;

  .btn-outline {
    display: inline-block;
    padding: $xs $md;
    margin: $md 0 0 0;
    align-self: end;
    text-align: center;
    align-content: center;
    width: 100%;
    }

    .left-btn-position {
      justify-self: end;
    }

    .btn-narrow {
      width: 160px;

    }

  .additional_info {
    color: $medium-gray;
  }
}
