.text-card-mint {
  padding: $lg;
  margin: $md 0;
  background-color: $light-mint;
  border-radius: $rad;
}
.text-card-purple {
  padding: $lg;
  margin: $md 0;
  background-color: $light-purple;
  border-radius: $rad;
  color: white;
}

.text-card-outline-mint {
  padding: $lg;
  margin: $md 0;
  border-radius: $rad;
  border: 1px solid $mint;
  color: $mint;
}

.text-card-outline-purple {
  padding: $lg;
  margin: $md 0;
  border-radius: $rad;
  border: 1px solid $purple;
  color: $purple;
}

// Recommendation card

.card-approval {
  padding: $lg;
  padding-bottom: $sm;
  margin: 0 0 $lg 0;
  border-radius: $rad;
  border: 1px solid $mint;
  color: $dark-gray;
}

.card-approval-mint {
  background-color: $light-mint;
  padding: $lg;
  margin: $lg 0;
  border-radius: $rad;
  color: $dark-gray;
}

.tag {
  background-color: $mint;
  color: white;
  margin-right: $sm;
  padding: $xs $sm;
  border-radius: $lg;
}

.tag-outline {
  background-color: white;
  color: $mint;
  margin: $sm;
  margin-left: 0;
  padding: 2px $sm;
  border-radius: $lg;
  border: 1px solid $mint;
  text-align: center;
  font-size: 14px;
}

.approval-header {
  align-items: flex-end;
    h4 {margin-bottom: $md;
    }
}

.card-subtitle {
  color: $light-gray;
  font-size: 14px;
    p {margin-bottom: 0;
    }
}

.recommender-info {
  color: $light-gray;
  font-size: 14px;
  flex-grow: 1;
    p {
      margin-bottom: 0;
      text-align: right;
      margin-right: $sm;
    }
}

.card-date {
  color: $light-gray;
  font-size: 14px;
  text-align: right;
  margin-top: 0;
  margin-bottom: $sm;
}


