.page-container {
  width: 80vw;
  margin: $md auto;
  margin-top: 80px;
}

.tag-container {
  display: flex;
}

.tag-container p {
 margin: 0;
 font-size: 42px;
}

.btn-container {
  padding: $sm;
  margin: $sm;
}

.search-map-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: $xl;
  margin-top: 100px;
}

.map-container {
  background-color: $light-purple;
}
