.page-container {
  width: 80vw;
  margin: $md auto;
  margin-top: 80px;
}

.tag-container {
  display: flex;
}

.logo-container {
  width: 50px;
}

.header-container {
   margin-bottom: 40px;
}

.tag-container a{
  padding: 0;
  margin: 0;
}

.btn-container {
  padding: $sm;
  margin: $sm;
}

.search-map-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: $xl;
  margin-top: 85px;
}

.map-container {
  background-color: $light-purple;
}

.form-container {
  margin: 0 auto;
  text-align: center;
  padding: 20px 80px;
  width: 55%;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
}
