.navbar {
  overflow: visible;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  .btn-mint.outline {
    margin: 0 $sm;
    text-align: center;
  }
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

