.two-field-search-container {
  display: grid;
  grid-template-columns: 1fr 1fr 104px;
  grid-gap: $sm;
  width: 100%;
  margin: $lg 0;
  padding: $sm 0;
  align-items: center;

}

.input-field {
  box-sizing: border-box;
  padding: 6px $md;
  margin-right: $sm;
  border-radius: $rad;
  border: 1px solid $mint;
  width: 100%;
}

.input-lg {
  padding: $sm $lg;
  min-width: 265px;
}

.address {
  margin-top: $xs;
}


.select2-container {
  width: 100% !important;
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid $mint !important;
    border-radius: 4px;
    cursor: text;
    height: 38px;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid $mint !important;
    border-radius: 4px;
    height: 38px !important;
    padding: 5px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: $mint !important;
    color: white;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none;
}
.input-height-sm {
  height: 38px;

}
.location_input {
    margin-right: $sm;
    flex-grow: 1;
}

.address-input {
  box-sizing: border-box;
}

.filter-bar {
  display: grid;
  grid-template-columns: 25% 25% 1fr 1fr 100px;
  grid-gap: $sm;
  width: 100%;
  padding: $sm 0;
  align-items: center;


  .btn-mint {
    width: 100%;
  }
}
