.search-container {
  display: grid;
  grid-template-columns: 1fr 100px;
  grid-gap: $sm;
  width: 30vw;
  height: 16vh;
  margin: $lg 0;
  padding: $sm 0;
  align-items: center;

}

.two-field-search-container {
  display: grid;
  grid-template-columns: 1fr 1fr 100px;
  grid-gap: $sm;
  width: 40vw;
  height: 16vh;
  margin: $lg 0;
  padding: $sm 0;
  align-items: center;

  .btn-mint {
    margin-left: $lg;
  }
}

.input-field {
  box-sizing: border-box;
  padding: $sm;
  border-radius: $rad;
  border: 1px solid $mint;
}

