.two-field-search-container {
  display: grid;
  grid-template-columns: 1fr 1fr 104px;
  grid-gap: $sm;
  width: 100%;
  margin: $lg 0;
  padding: $sm 0;
  align-items: center;

  .input-field {
    padding: $xs $md;
    margin-right: $sm;
    border-radius: $rad;
    border: 1px solid $mint;
    width: 100%;
  }

  .input-lg {
    padding: $sm $lg;
  }
}


.address {
  margin-top: $xs;
}


.select2-container {
  width: 100% !important;
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid $mint !important;
    border-radius: 4px;
    cursor: text;
    // height: 43px;
}

.location_input {
    margin-right: $sm;
    flex-grow: 1;
}
