body {
  font-family: $body-font;
  color: $dark-gray;
  background-color: white;

  h1, h2, h3, h4, h5 {
    font-family: $headers-font;
  }
}

.text_mint {
  color: $mint !important;
}

.active a:hover { // overrides bootstrap style for the user_name_link on navbar
  color: $medium-gray !important;
}

.text-light-gray {
  color: $light-gray;
}

.text_black {
  color: black;
  line-height: 50px;
}

.text_black:hover {
  color: $light-gray;
  text-decoration: none;
}

#text-logo {
 font-size: 24px;
 line-height: 50px;
 padding-top: 5px;
}

.text-small {
  font-size: 12px;
}

.text-right {
  text-align: right;
}

.info-text{
  color: $medium-gray;
  }
