
.approval-container {
  margin: $lg auto;
  margin-bottom: $xl;
  width: 60%;


  .card-doc {
    margin: 0;
    padding: $lg;
  }

  .hidden {
    display: none;
  }
}

.approval-form {
  margin: 0 auto;
  width: 100%;
  // padding: $lg;
  border-radius: $rad;
  // border: 1px solid $mint;
  // background-color:rgba(230, 230, 230, 0.3);


  input#approval_headline {
    font-size: 20px;
    // border: none;
    border: 1px solid $mint;
  }
}

.field-choices {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $lg;
}

.approval_explanation {
  font-weight: lighter;
  font-size: 20px;
  margin-bottom: $md;
  color: $gray;

}

.field-choice {
  input {
    display: none;
  }

  input ~ label {
  margin: $xs 0;
  margin-right: $sm;
  padding: 2px $sm;
  border-radius: $lg;
  border: 1px solid $mint;
  font-size: 14px;
  color: $mint;
  border: 1px solid $mint;
  background-color: white;

  }

  input:hover ~ label {
    opacity: 0.5;
    background: $mint;
    color: white;

  }

  input:checked ~ label {
    background: $mint;
    color: white;
    opacity: 1;
  }
}

#approval_content {
  height: 10vh;
  // border: none;
  border: 1px solid $mint;

}

.anonymous-choice {

  .form-check-input.is-valid ~ .form-check-label {
    color: $dark-gray;
  }
}

.submit-btn-container {
  display: grid;

  input.btn-mint {
  justify-self: end;
  width: 122px;
  margin: $sm 0;
  }
}

// TODO Checkbox Toggle Switch - not working
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: $rad;
  background-color: $light-gray;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: $rad;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $mint;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
