
.recommendee-container {
  margin: $lg auto;
  width: 70%;

  .card-doc {
    margin: 0;
  }
}

.approval-form {
  margin: 0 auto;
  width: 70%;
  padding: $lg;
  border: 1px solid $mint;
  border-radius: $rad;
}

.field-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.hidden {
  display: none;
}

.field-choice {
  background: $light-mint;
  padding: $md;
  border-radius: $rad;
  opacity: .4;
  flex: 0 0 30%;
  text-align: center;
  margin: $sm 0;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: $mint;
  color: white;
  opacity: 1;
  }

  label {
    margin: 0;
  }
}


label {
  margin-right: $md;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: $rad;
  background-color: $light-gray;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: $rad;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $mint;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
